body {
	font-family: "Space Grotesk", serif;
}
.background-colours {
	position: absolute;
	z-index: -3;
	width: 100%;
	height: 100%;
}
.gradientBackground {
	background-image: url(../interactive-card-details-form-main/images/bg-main-desktop.png);
	background-size: auto;
	background-repeat: no-repeat;
	width: 35%;
	height: 100%;
}
.whiteBackground {
	background-color: white;
}

.cards {
	position: absolute;
	width: 40%;
	height: 50vh;
	margin: 15% 0% 20% 5%
}
.cardFront {
	position: absolute;
	height: 180px;
	width: 300px;
	top: 2vh;
	border-radius: 10px;
	text-align: center;
	color: white;
	font-weight: lighter;
	background-image: url(../interactive-card-details-form-main/images/bg-card-front.png)
}



.displayedCardNumber {
	font-size: 21px;
	margin-top: 10;
	margin-top: 30%;
	margin-bottom: 10px;
}

.displayedName { 
	float: left;
	width: 40%;
	font-size: 15px;
}

.displayedDate {
	float: right;
	width: 40%;
	font-size: 15px;
}

.cardBack {
	height: 180px;
	position: absolute;
	bottom: 2vh;
	width: 300px;
	right: 0px;
	border-radius: 10px;
	text-align: right;
	z-index: -1;
	background-image: linear-gradient(to bottom right, white, lightgray)
}

.blackBar {
	border: 2px solid black;
	margin-top: 10px;
	height: 30px;
	background-color: black;
}
.displayedCVC {
	position: absolute;
	border: 2px solid lightgrey;
	border-radius: 5px;
	width: 80%;
	top: 50px;
	height: 20px;
	margin-left: 30px;
	background-color: lightgrey;
	font-size: 10px;
	letter-spacing: 3px;
	color: white;
}
.displayedCVC > p {
	margin: 2px 0 0 0 
}

/*width to height ratio of credit card is 1.5881:1*/
form {
	position: absolute;
	right: 10%;
	width: 30%;
	margin: 10% 0% 20% 5%;
	height: 50vh;
}
.inputDiv {
	margin: 15% 0 15% 0;
	width: 90%;
}

input[type="text"] {
	display: block;
	width: 100%;
	border-radius: 5px;
	height: 35px;
	font-size: 18px;
}

input[type="submit"] {
	width: 90%;
	border: 2px solid hsl(278, 68%, 11%);
	background-color: hsl(278, 68%, 11%);
	color: white;
	border-radius: 10px;
	height: 45px;
	margin-top: 20%;
}


.dateDiv {
	width: 60%;
	float: left;
}

.dateDiv div {
	width: 45%;
}

.monthDiv {
	float: left;
}

.yearDiv {
	float: right;
}
.CVCDiv {
	width: 30%;
	float: right;
}